@charset "utf-8";
/* CSS Document */
/* Accessibility addition */
.hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

/* Aesthetic class to change the appearance of headings with important infos */
.heading {
	background-color: #555;
	color: #fc2;
}

/****************************************************************************************************/
/* ====================== Navigation ====================== */
.headline {
	width: 100%;
	height: 80px;
	background-color: #252831;
	text-align: center;
}

.headline h1 {
	margin: auto;
}

.headline h1 a {
	color: #fff;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 10px;
	/* Adjustments to center the link in the nav heading and ensure a good "click area" */
	line-height: 80px;
	margin-top: -14pt;
	padding: 15px;
	/****************************************************************************************************/
	text-transform: uppercase;
}

#breadcrumb {
	padding: 10px 40px 16px;
	list-style: none;
	background-color: #eee;
	margin: 0;
	width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
	/* Moved the 'font-size' property to not overlap with the properties for general 'li' elements */
	font-size: 13pt;
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

#breadcrumb li #current {
	text-decoration: none;
	color: #222;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
	height: 400px;
	width: 100%;
	background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	/* I chose to use a FLEX display to ensure a grid-based layout, as GRID seemed superfluous for such a small number of rows / columns */
	display: flex;
	justify-content: center;
	/****************************************************************************************************/
	width: 100%;
	height: 50px;
	background-color: #3397DB;
	align-items: center;
}

/* Applying a base "flex" properties for all items */
.filter-options>* {
	flex: 0 1 auto;
}

/****************************************************************************************************/
.filter-options h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
}

.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial, sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	/* To ensure readability and easy-click: */
	min-width: 200px;
	/****************************************************************************************************/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	/* I chose to use a FLEX display to ensure a grid-based layout, as GRID seemed superfluous for such a small number of rows / columns */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/****************************************************************************************************/
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 15px 60px;
	text-align: center;
}

#restaurants-list li {
	background-color: #fff;
	font-family: Arial, sans-serif;
	margin: 15px;
	/* Aesthetic change */
	border-radius: 25px 0;
	/* With the aesthetic changes to the content, it's needed to ensure a correct minimum size to make the element look good on most device sizes, due to dynamic update to the contents' sizes */
	min-height: 420px;
	width: 300px;
	/****************************************************************************************************/
	text-align: left;
}

#restaurants-list .restaurant-img {
	/* Aesthetic change */
	border-radius: 25px 0 0 0;
	/* Responsive image: adapts the width and height to the container, without any ugly stretching */
	max-width: 100%;
	min-width: 100%;
	height: auto;
	/****************************************************************************************************/
	background-color: #ccc;
	display: block;
	margin: 0;
}

#restaurants-list li h2 {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	text-transform: uppercase;
	/* Changes to padding / margin to better visualize the element */
	padding: 15px 30px 15px;
	/****/
}

#restaurants-list p {
	margin: 0;
	font-size: 11pt;
	/* Changes to padding / margin to better visualize the element */
	padding: 0 30px;
	/****/
}

#restaurants-list li a {
	background-color: orange;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	/* Changes to padding / margin to better visualize the element */
	margin: 15px 30px 0;
	/****/
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* Ensuring that MAIN takes the full body space and uses a FLEX display to layout map-container and restaurant-sidebar */
.inside main {
	height: 100vh;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-flow: row wrap;
}

/* Setting the flex property for the two items */
.inside main #restaurant-sidebar {
	order: 1;
	overflow-y: auto;
	flex: 1 1 auto;
}

.inside main #map-container {
	order: 2;
	flex: 1 1 auto;
}

/* Ensuring that the first container (restaurant) takes max half-page in width in Desktop view */
.inside main #restaurant-sidebar {
	max-width: 50%;
}

/****************************************************************************************************/
.inside #map-container {
	background: blue none repeat scroll 0 0;
	height: 87%;
	/* No need for fixed positioning, as the element is now in a flex container */
	margin-top: 80px;
}

.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}

/* As a personal preference, I thought the footer looked better fixed on the bottom and always visible */
#footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 1001;
}

/****************************************************************************************************/
#restaurant-name {
	color: #f18200;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
}

#restaurant-img {
	/* Resizing changes */
	width: 100%;
}

#restaurant-address {
	font-size: 12pt;
	margin: 10px 0;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	/* Resizing changes */
	width: 100%;
}

#restaurant-container,
#reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	/* Resizing changes */
	padding: 140px 5% 30px;
	width: 90%;
}

#reviews-container {
	/* Resizing changes */
	padding: 30px 5% 80px;
}

#reviews-container h2 {
	color: #f58500;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}

#reviews-list {
	margin: 0;
	padding: 0;
}

#reviews-list li {
	/* Aesthetic changes */
	border-radius: 25px 0;
	/* Resizing changes */
	padding: 0 0 20px;
	width: 100%;
	/****************************************************************************************************/
	background-color: #fff;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	position: relative;
}

/* Resizing changes applied to all items */
#reviews-list li * {
	padding: 0 7%;
	width: 86%;
}

#reviews-list div[id^='review-desc'] {
	padding: 0;
	width: 100%
}

/* Resizing changes */
#reviews-list li .heading {
	padding: 20px 7%;
	font-size: 16pt;
}

/* New styling for the rating 'p', to follow the mockup images from Udacity */
#reviews-list li .rating {
	border-radius: 5px;
	display: block;
	padding: 10px;
	margin: 0 7% 10px;
	background-color: #fc2;
	color: white;
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	min-width: 0;
	max-width: 80pt;
}

/****************************************************************************************************/
#reviews-list li p {
	margin: 0 0 10px;
}

#restaurant-hours td {
	color: #666;
}